@if (User.Identity.IsAuthenticated)
{
    <span class="navbar-text">@User.GetUsername()</span>
    <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <button type="submit" class="btn btn-link nav-link my-2 my-sm-0">退出</button>
    </form>
}