@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">首页</a>
                </li>
                <li class="nav-item"><a class="navbar-text">|</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Assert" asp-action="OverView">资产管理</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">巡检数据</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFailures" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">故障信息</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownFailures">
                        <a class="dropdown-item" asp-area="" asp-controller="Failures" asp-action="Create">故障登记</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Failures" asp-action="Index">故障统计</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVistors" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">人员来访</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownVistors">
                        <a class="dropdown-item" asp-area="" asp-controller="Vistor" asp-action="History">来访记录</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Vistor" asp-action="EntryRequest">来访登记</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">备品备件</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSystem" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">系统</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownSystem">
                        <a class="dropdown-item" asp-area="" asp-controller="MysqlDB" asp-action="Index">数据库</a>
                    </div>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
}