@{
    ViewData["Title"] = "数据库管理";
}

<h3>@ViewData["Title"]</h3>
<hr />

@section Scripts{
    <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
    <script src="~/lib/webuploader/webuploader.custom.js"></script>
    <script src="~/js/MysqlDB/index.js"></script>
}
@section SectionDialog{
    <div id="dialog_restore_success" title="结果">
        <h2>数据已恢复！</h2>
    </div>

    <div id="dialog_clear_success" title="结果">
        <h2>数据已清空！</h2>
    </div>

    <div id="dialog_clear_confirm" title="请小心">
        <h2>你真要要清空数据？</h2>
    </div>

    <div id="dialog_upload" title="上传数据库备份文件">
        <div id="uploader" class="wu-example">
            用来存放文件信息
            <div id="thelist" class="uploader-list"></div>
            <div class="btns">
                <div id="picker">选择文件</div>
                <button id="ctlBtn" class="btn btn-default">开始上传</button>
            </div>
        </div>
    </div>
}

<div>
    <div>
        <button class="btn btn-success" onclick="backup()">备份数据库</button>
        <button class="btn btn-danger" onclick="remove_all()">清空数据库</button>
        <button class="btn btn-warning" onclick="open_upload_dialog()">还原数据库</button>
    </div>
    <div id="div-download" style="visibility:hidden">
        <div class="form-group">
            <strong>备份文件已经生成: </strong>
            <input class="form-control" id="backup-file-name" value="" />
        </div>
        <div class="form-group">
            <button class="btn btn-outline-success btn-sm" onclick="download()">下载备份文件</button>
            <button class="btn btn-outline-danger btn-sm" onclick="delete_backup_files()">清除服务器端备份文件</button>
        </div>
    </div>
</div>
