@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>资产</h2>
        <ul>
            <li><a asp-controller="Assert" asp-action="Server">服务器</a></li>
            <li><a asp-controller="" asp-action="">网络设备</a></li>
            <li><a asp-controller="" asp-action="">存储设备</a></li>
            <li><a asp-controller="" asp-action="">精密设备</a></li>
            <li><a asp-controller="" asp-action="">不间断电源</a></li>
            <li><a asp-controller="" asp-action="">其他设备</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>巡检</h2>
        <ul>
            <li><a asp-controller="" asp-action="">日常巡检</a></li>
            <li><a asp-controller="" asp-action="">月度巡检</a></li>
            <li><a asp-controller="Failures" asp-action="Create">故障处理</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>来访</h2>
        <ul>
            <li><a asp-controller="Vistor" asp-action="History">历史纪录</a></li>
            <li><a asp-controller="Vistor" asp-action="Entry">人员登记</a></li>
            <li><a asp-controller="Home" asp-action="Error">身份识别</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>备件</h2>
        <ul>
            <li><a asp-controller="" asp-action="">网络设备</a></li>
            <li><a asp-controller="" asp-action="">存储设备</a></li>
            <li><a asp-controller="" asp-action="">其他设备</a></li>
        </ul>
    </div>
</div>
