@model DataCenterOperation.Site.ViewModels.EntryViewModel

@{
    ViewData["Title"] = "来访登记";
}

<div class="row">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Vistor" asp-action="Entry" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div class="col-md-4">
            <h2>请登录</h2>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="VistorName" class="control-label"></label>
                    <span asp-validation-for="VistorName" class="text-danger"></span>
                    <input asp-for="VistorName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="NumberOfPeople" class="control-label"></label>
                    <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
                    <input asp-for="NumberOfPeople" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="EntryTime" class="control-label"></label>
                    <span asp-validation-for="EntryTime" class="text-danger"></span>
                    <input asp-for="EntryTime" class="form-control" type="datetime-local" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Company" class="control-label"></label>
                    <span asp-validation-for="Company" class="text-danger"></span>
                    <input asp-for="Company" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="ContactInfo" class="control-label"></label>
                    <span asp-validation-for="ContactInfo" class="text-danger"></span>
                    <input asp-for="ContactInfo" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default">记录</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Matter" class="control-label"></label>
                    <span asp-validation-for="Matter" class="text-danger"></span>
                    <textarea asp-for="Matter" rows="20" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>
        <div class="col-md-5">
            
        </div>
</div>
