@model DataCenterOperation.Site.ViewModels.HistorySearchViewModel
@{
    ViewData["Title"] = "来访记录";
}

<h3>@ViewData["Title"]</h3>
<hr />

@section Scripts{
    <link href="~/css/table-gridtable.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/vistor/history.js"></script>
}
@section SectionDialog{
    <div id="dialog" title="进入申请详情">
        <table id="records_table" class="gridtable" style="border:0px solid red;width:auto"></table>
    </div>
    <div id="success_dialog" title="结果">
        <h2>更新成功！</h2>
    </div>
    <div id="dialog_update_contactInfo" title="更新联系人信息">
        <label id="contactInfo_label" class="control-label">更新联系人信息?</label>
    </div>
    <div id="manage_dialog" title="更新审批意见">
        <label id="manage_label" class="control-label">更新审批意见?</label>
    </div>
}

<form asp-action="History" class="form-inline mb-2">
    <div class="form-group mr-sm-2">
        <input asp-for="Keyword" class="form-control form-control-sm" />
    </div>
    <div class="form-group mr-sm-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">搜索</button>
    </div>
    <small class="form-text">记录数：@Model.Count，页数：@Model.TotalPages。</small>
</form>

@await Html.PartialAsync("_VisitingRecords", Model.Items)
