@{
    ViewData["Title"] = "资产管理";
}

<div class="row">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-3">

        <ul>
            <li><label>资产总况</label></li>
            <li><a asp-controller="Assert" asp-action="Server">服务器</a></li>
            <li><a asp-controller="" asp-action="">网络设备</a></li>
            <li><a asp-controller="" asp-action="">存储设备</a></li>
            <li><a asp-controller="" asp-action="">精密设备</a></li>
            <li><a asp-controller="" asp-action="">不间断电源</a></li>
            <li><a asp-controller="" asp-action="">其他设备</a></li>
        </ul>

    </div>
    <div class="col-md-9">
        <h2>资产总况</h2>
        <table class="table">
            
        </table>
    </div>
</div>
