@model DataCenterOperation.Site.ViewModels.X86ServerSearchViewModel;
@{
    ViewData["Title"] = "X86服务器";
}

<h3>@ViewData["Title"]</h3>
<hr />

@section Scripts{
    <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
    <link href="~/css/table-gridtable.css" rel="stylesheet" />
    <script src="~/lib/webuploader/webuploader.custom.js"></script>
    <script src="~/lib/jquery/plugin/stupidtable.js"></script>
    <script src="~/js/Assert/x86servers.js"></script>
}
@section SectionDialog{
    <div id="dialog" title="上传EXCEL">
        <div id="uploader" class="wu-example">
            用来存放文件信息
            <div id="thelist" class="uploader-list"></div>
            <div class="btns">
                <div id="picker">选择文件</div>
                <button id="ctlBtn" class="btn btn-default">开始上传</button>
            </div>
        </div>
    </div>
    <div id="dialog_remove" title="确认删除">
        <div>删除后将不可恢复，确认？</div>
    </div>
}
<div style="margin-bottom:10px;">
    <button class="btn btn-outline-primary btn-sm" onclick="open_upload_dialog()">上传EXCEL</button>
    <a class="btn btn-outline-primary btn-sm" asp-controller="Assert" asp-action="X86Server_Add">增加服务器</a>
    <a class="btn btn-outline-primary btn-sm" asp-controller="Assert" asp-action="X86Server_Users">用户管理</a>
</div>
<form asp-action="X86Server" class="form-inline mb-2">
    <div class="form-group mr-sm-2">
        <input asp-for="Keyword" class="form-control form-control-sm" />
    </div>
    <div class="form-group mr-sm-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">搜索</button>
    </div>
    <small class="form-text">记录数：@Model.Count，页数：@Model.TotalPages。</small>
</form>
<div style="overflow-x:auto; padding-bottom:5px;">
    @await Html.PartialAsync("_X86ServersTable", Model.Servers)
</div>